<ion-header>
  <ion-navbar>
    <ion-searchbar (keyup)="onKeyUp($event)"></ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid no-padding>
      <ion-item *ngFor="let contact of contactsFound">
        <ion-row>
          <h2>{{contact.displayName}}</h2>
        </ion-row>
        <p *ngFor="let num of contact?.phoneNumbers">
        <ion-row>
          {{num.value}}
        </ion-row>
        </p>
        <p *ngFor="let mail of contact?.emails">
        <ion-row>
          {{mail.value}}
        </ion-row>
        </p>
        <ion-row>
          <ion-col no-padding>
              <button ion-button full (click)="ligar({{contact?.phoneNumbers.}})">Ligar</button>
          </ion-col>
          <ion-col no-padding>
              <button ion-button color="secondary" (click)="enviarEmail({{contact?.emails}})">Enviar email</button>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-grid>
  </ion-list>
</ion-content>
